body{
	background-color:burlywood;
}
table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse ;
	caption-side: top;
}
td,th{
	border: 1px solid black;
}
/*Fondo para Filas Impares*/
table tr:nth-child(odd){
	background-color: white ;
}
/*Fondo para filas pares*/
table tr:nth-child(even){
	background-color: red;
}
 
table tr:hover{
	background-color: lightcoral;
}